---
layout: ~
permalink: "/{{ page.filePathStem }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
<url>
<loc>{{ page.data.page_url }}</loc>
{%- if page.data.mdate %}
<lastmod>{{ page.data.mdate | date("yyyy-MM-dd'T'HH:mm:ssZZZ") }}</lastmod>
{%- endif %}
</url>
{%- endfor %}
</urlset>
